.temperature-container {
  display: block;
  padding: 20px 0;
}
.temperature {
  color: #000000;

  font-size: 50px;
  font-weight: 400;
  padding-top: 0;
  margin-left: 10px;
}


footer {
  font-size: smaller;
  margin: 5px auto;
  margin-top: 30px;
  margin-bottom: -10px;
  max-width: 600px;
  text-align: center;
}

footer a {
  cursor: default;
  text-decoration: underline;
}

footer a :hover {
  text-decoration: double;
}
