.Weather {
  font-family: "Open Sans", sans-serif;
  border: 10px solid #03fcef6e;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px #c28247;
  max-width: 700px;
  max-height: 500px;
  padding-top: 25px;
  margin: 50px auto;
  padding: 40px;
}

.form-btn {
  border: 2px solid #9c55b8;
  border-radius: 10px;
  color: #4a8ead;
  font-size: 18px;
  padding: 5px 20px;
  box-shadow: 5px 5px 5px #02584d;
  position: relative;
}

.search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(174, 173, 182, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.search.button:hover {
  background: #aebec5e8;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
h1 {
  color: #0a15b1;
  margin: 20px 0 10px 0;
  text-align: center;
  font-weight: 100;
  line-height: 29px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

.WeatherInfo li {
  list-style: none;
  margin-bottom: 5px;
  font-weight: 500;
  color: rgb(116, 113, 113);
  font-size: 16px;
  line-height: 20px;
}

.WeatherInfo {
  text-align: left;
}
